@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


  @*  <h2> Yeta chai 2-3 ota Blogs haru randomly </h2>
    <p>through random id generator??
        <br /> ani <h1> Read more</h1>garda Login garaune 
    </p>*@
</div>

